@*
Descripción
-----------------------------------------------
Nueva vista que muestra las acciones disponibles a realizar para el buscador. Estas se muestran en la cabecera del listado, correspondiente con el fichero "_list-header". Estas acciones serán:
- ComboBox para "Descargar"
- ComboBox para "Ordenar"
- ComboBox para "Visualizar"

Variables
----------------------------------------------------------------
*@


@*
----------------------------------------------------------------
 -------------------- Cabecera-Header de lista de recursos dentro de una comunidad --------------------
*@

@* Listado de acciones para hacer con resultados *@
<div class="acciones-listado">
    <div class="wrap">
        @* Opciones - Acciones para ordenar lista de recursos *@                
            @* Opciones de Ordenar los resultados obtenidos 
            <div id="panel-orderBy" class="ordenar dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="material-icons">swap_vert</span>
                    <span class="texto">@Html.GetText("BANDEJAENTRADA", "ORDENADOPOR")</span>
                </a>
                <div id="cmbOrdenarPor" class="dropdown-menu basic-dropdown dropdown-menu-right filtro" style="will-change: transform;">
                    <a href="javascript: void(0)" class="item-dropdown" data-orderBy="nmo:sentDate">@Html.GetText("COMMON", "FECHA")</a>
                    <a href="javascript: void(0)" class="item-dropdown" data-orderBy="nmo:from">@Html.GetText("CORREO", "REMITENTE")</a>
                </div>
            </div>
            *@

            @* Opciones de visualización los resultados *@
            <div id="panel-viewBy" class="visualizacion dropdown">
                <a id="buscador" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="material-icons">view_agenda</span>
                    <span class="texto">@Html.GetText("COMMON","VISUALIZAR")</span>                    
                </a>
                <div class="dropdown-menu basic-dropdown .dropdown-icons dropdown-menu-right">
                    <a class="item-dropdown aCompacView" data-class-resource-list="compacView">
                        <span class="material-icons">reorder</span>
                        <span class="texto">@Html.GetText("CORREO", "COMPACTADA")</span>
                    </a>
                    <a class="item-dropdown aListView activeView" data-class-resource-list="listView">
                        <span class="material-icons">view_agenda</span>
                        <span class="texto">@Html.GetText("COMBUSQUEDAAVANZADA", "LISTADO")</span>
                    </a>
                </div>
            </div>        
    </div>
</div>
