@using Es.Riam.Gnoss.Web.MVC.Models;
@if (Html.GetComunidad() != null)
{
    @*
Descripción
-----------------------------------------------
Vista que contiene un input para realizar búsquedas, en este caso en comentarios del usuario.

Variables
----------------------------------------------------------------
*@

    HeaderModel cabecera = Html.GetCabecera();
    //UserProfileModel perfil = Html.GetPerfil();
    CommunityModel Comunidad = Html.GetComunidad();
    //UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
    CommunityModel.PermissionsModel permisosComunidad = Comunidad.Permissions;

    @*
    ----------------------------------------------------------------
    -------------------- Vista de buscador de comentarios --------------------
*@

    @*Buscador utilizado para buscar en toda la comunidad o en todo GNOSS*@
    <div class="header-contenido">
        <div id="buscador" class="col-buscador">
            @* Formulario del buscador *@
            <form method="post" id="formBuscador" action="@($"{Html.GetBaseUrlIdioma()}{Context.Request.Path}")">
                <fieldset style="display: block" class="form-inline">
                    <legend class="nota">buscador</legend>
                    @* Buscador *@
                    <!-- #buscador //-->
                    <div class="finderUtils" id="divCajaBusqueda">
                        <div class="group finderSection">
                            <label for="finderSection" class="sr-only">@Html.GetText("COMMON", "BUSCAR")</label>
                            <input type="text" id="finderSection" class="not-outline finderSectionText autocompletar ac_input" autocomplete="off" placeholder="@Html.GetText("METABUSCADOR", "ENCONTRAR")" />
                            <input title="@Html.GetText("METABUSCADOR", "ENCONTRAR")" type="button" class="encontrar findAction" id="inputLupa" />
                            <input type="hidden" value="@Html.GetUrlPagina()" class="inpt_urlPaginaActual" />

                            @* Opción buscador para dispositivos móviles *@
                            <a href="javascript: void(0);" class="btn-filtrar-movil">
                                <span class="material-icons">filter_list</span>
                                <span class="texto">@Html.GetText("COMMON", "FILTRAR")</span>
                                <span class="texto resultados"></span>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>


        @* Listado de TAGS usados para las búsquedas *@
        @Html.PartialView("_partial-views/_list-header-tags")
        @* Listado de acciones a realizar (Cargar, Marcar, Leído, No leído, Actualizar...) - No hay en Comentarios
    @Html.PartialView("_partial-views/_list-messages-actions")
    *@
    </div>
}