@model ProfilePageViewModel
@*
Descripción
-----------------------------------------------
Vista principal que engloba las posibles subvistas para ver la información de un perfil de usuario de una comunidad.

Variables
----------------------------------------------------------------
*@
@{
//Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/ckeditor.js?v=" + Html.GetVersion());
//Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/adapters/jquery.js?v=" + Html.GetVersion());

ProfileModel Perfil = Model.Profile;
CommunityModel Comunidad = Html.GetComunidad();
UserIdentityModel IdentidadActual = Html.GetIdentidadActual();

string nombreCompleto = Html.ObtenerNombreCompletoDeFichaIdentidad(Perfil);

// Nº de Seguidores y Seguidos
var numFollowers = $"{(Model.ProfileFollowers != null ? Model.ProfileFollowers.Count : 0)}";
var numFollowed = $"{(Model.ProfileFollowed != null ? Model.ProfileFollowed.Count : 0)}";
// Fotografía del usuario (Se cargará la anónima o la del usuario)
var urlFoto = "";
// País y Localidad del usuario
var provinceAndCountryExtraInfo = "";
// Nº de contribuciones del usuario
int userContributions = 0;

// URL icono de la red del usuario para mostrar el icono. Si no es Linkedin, Twitter o Facebook (CSS), será necesario mostrar el icono de la web
bool containsSocialUrlIcon = false;

// Controlar si dispone o no de fotografía el usuario
bool containsUrlFoto = true;

}

@*
    ----------------------------------------------------------------
    -------------------- Vista principal de visualización del perfil de un usuario --------------------
*@


@* Cargamos la fotografía (o anónima) del usuario *@
@* Si el perfil está desconectado, mostrar foto de anonimo *@
@if (!IdentidadActual.IsGuestIdentity && !string.IsNullOrEmpty(Perfil.UrlFoto))
{
    urlFoto = string.Format("{0}{1}", @Html.GetBaseUrlContent(), @Perfil.UrlFoto.Replace("_peque.png", "_grande.png"));
}
else
{
    urlFoto = string.Format("{0}/{1}/{2}/anonimo_grande.png", @Html.GetBaseUrlContent(), @Es.Riam.Util.UtilArchivos.ContentImagenes, @Es.Riam.Util.UtilArchivos.ContentImagenesPersonas);
    containsUrlFoto = false;
}

@* Cargamos la localización y País del usuario (si dispone de información extra) *@
@if (!string.IsNullOrEmpty(Perfil.ExtraInfo.ProvinceOrState) || !string.IsNullOrEmpty(Perfil.ExtraInfo.Country))
{
    string separador = "";
    if (!string.IsNullOrEmpty(Perfil.ExtraInfo.ProvinceOrState) && Perfil.ExtraInfo.ProvinceOrState != Guid.Empty.ToString())
    {
        provinceAndCountryExtraInfo += Perfil.ExtraInfo.ProvinceOrState;

        if (!string.IsNullOrEmpty(Perfil.ExtraInfo.Country))
        {
            separador = " - ";

            provinceAndCountryExtraInfo += @separador + Perfil.ExtraInfo.Country;
        }
    }
    if (!string.IsNullOrEmpty(Perfil.ExtraInfo.Country) && string.IsNullOrEmpty(Perfil.ExtraInfo.ProvinceOrState))
    {
        provinceAndCountryExtraInfo += @Perfil.ExtraInfo.Country;
    }
}

@* Nº Contribuciones del usuario *@
@if (Perfil.ExtraInfo.IdentityResourceCounter != null)
{
    userContributions = @Perfil.ExtraInfo.IdentityResourceCounter.GetPublicationCounter();
}

@* Row principal *@
<div class="row">

    @*Breadcrumb / Migas de pan en la home*@
    <div class="col col-12 col-breadcrumb" id="breadcrumb">
        <ul>
            <li><a href="@Comunidad.Url"><strong>@Html.GetText("COMMON", "HOME")</strong></a></li>
            @if (Context.Request.Headers.Referer.ToString().Contains(Html.GetText("URLSEM", "COMADMINCOMMIEMBROS")))
            {
                <li><a href="@Comunidad.Url/@Html.GetText("URLSEM", "COMADMINCOMMIEMBROS")">@Html.GetText("COMMON", "PERSONASYORGANIZACIONES")</a></li>
            }
            else
            {
                <li><a href="@Comunidad.Url/@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")">@Html.GetText("COMMON", "PERSONASYORGANIZACIONES")</a></li>
            }
            <li>@nombreCompleto</li>
        </ul>
    </div>

    @* Sección izquierda-central*@
    <div class="col col-12 col-xl-8 col-contenido izquierda">
        @* Contenedor de columna *@
        <div class="wrapCol">        
            @* Contenido - Data de la columna izquierda-central *@
            <div class="contenido">
                @* Cabecera de perfil del usuario - Nombre, Puesto, Fotografía... *@                
                @Html.PartialView("_SummaryBio")

                @* Menú Tab de navegación por (Actividad Reciente/ Siguiendo a y Seguidores ) *@
                <ul class="nav nav-tabs grey big-no-padding" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active"
                           id="tab-1"
                           data-toggle="tab"
                           href="#tab-pane-1"
                           role="tab"
                           aria-controls="tab-pane-1"
                           aria-selected="true">@Html.GetText("CONTROLESLIVE", "TITULOCONTROLEVENTOS")</a>
                    </li>
                    @* Menú de Personas a las que está siguiendo *@
                    @if (Perfil.Key != Guid.Empty && !IdentidadActual.IsGuestIdentity)
                    {
                        <li class="nav-item">
                            <a class="nav-link"
                               id="tab-2"
                               data-toggle="tab"
                               href="#tab-pane-2"
                               role="tab"
                               aria-controls="tab-pane-2"
                               aria-selected="false">Siguiendo a @numFollowed</a>
                        </li>
                    }
                    @if (Perfil.Key != Guid.Empty && !IdentidadActual.IsGuestIdentity)
                    {
                        @* Menú de Personas que le siguen *@
                        <li class="nav-item">
                            <a class="nav-link"
                               id="tab-3"
                               data-toggle="tab"
                               href="#tab-pane-3"
                               role="tab"
                               aria-controls="tab-pane-3"
                               aria-selected="false">Seguidores @numFollowers</a>
                        </li>
                    }
                </ul>
                @* Contenedor de Paneles (Actividad reciente, Seguidores y Seguidos)*@
                <div class="tab-content">
                    @* Panel de Contenido de Actividad Reciente *@
                    <div class="tab-pane fade show active" id="tab-pane-1" role="tabpanel" aria-labelledby="tab-pane-1">
                        @if (Perfil.Key != Guid.Empty && !IdentidadActual.IsGuestIdentity && Model.RecentActivity != null)
                        {
                            <div class="resource-list listView">
                                @Html.PartialView("ControlesMVC/_ActividadRecientePerfil", Model.RecentActivity)
                            </div>
                        }
                    </div>
                    @* Panel de Contenido de Nº de personas a las que está siguiendo *@
                    <div class="tab-pane fade" id="tab-pane-2" role="tabpanel" aria-labelledby="tab-pane-2">
                        @if (Perfil.Key != Guid.Empty && !IdentidadActual.IsGuestIdentity)
                        {
                            if (Model.ProfileFollowed != null && Model.ProfileFollowed.Count > 0)
                            {
                                @* Listado de Perfiles a las que está siguiendo este usuario *@
                                <div class="resource-list usuarios listView">
                                    @foreach (ProfileModel ficha in Model.ProfileFollowed)
                                    {
                                        @Html.PartialView("_partial-views/_profile-followers-list-item", ficha)
                                    }
                                </div>
                            }
                            else
                            {
                                <p>Este usuario no sigue ningún perfil</p>
                            }
                        }
                    </div>
                    @* Panel de Contenido de Nº de personas que le siguen *@
                    <div class="tab-pane fade" id="tab-pane-3" role="tabpanel" aria-labelledby="pane-3">
                        @if (Perfil.Key != Guid.Empty && !IdentidadActual.IsGuestIdentity)
                        {
                            if (Model.ProfileFollowers != null && Model.ProfileFollowers.Count > 0)
                            {
                                @* Listado de Perfiles que siguen al usuario *@
                                <div class="resource-list usuarios listView">
                                    @foreach (ProfileModel ficha in Model.ProfileFollowers)
                                    {
                                        @Html.PartialView("_partial-views/_profile-followers-list-item", ficha)
                                    }
                                </div>
                            }
                            else
                            {
                                <p>Este usuario no tiene seguidores</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Sección derecha *@
    <div class="col col-12 col-xl-4 col-contexto col-lateral derecha">
        @* Panel de información del usuario (Imagen, Nombre, Contribuciones...) *@
        <div class="perfil-lateral">
             @if (containsUrlFoto)
            {
                <div class="perfil-lateral-imagen" style="text-align: center; text-align: center; background-color: white; border: 1px solid var(--c-gris-borde);">                    
                    <img src="@urlFoto" />
                </div>
            }
            else
            {
                <div class="perfil-lateral-imagen" style="text-align: center; text-align: center; background-color: white; border: 1px solid var(--c-gris-borde); ">
                    <span class="material-icons" style="font-size: 13rem">person</span>                    
                </div>
            } 
            @* Contenedor de perfil lateral del usuario *@
            <div class="perfil-lateral-contenido">
                @* Contenedor de Nombre y Localización *@
                <div class="perfil-lateral-user-miniatura user-miniatura">
                    <div class="nombre-usuario-wrap">
                        <p class="nombre">@nombreCompleto</p>
                        @* Mostrar si hay información adicional el País, y Provincia o Estado *@
                        @*<p class="nombre-completo">@nombreCompleto</p>*@
                        @if (!string.IsNullOrEmpty(provinceAndCountryExtraInfo))
                        {
                            <p class="localizacion">@provinceAndCountryExtraInfo</p>
                        }
                    </div>
                </div>
                @* Contenedor de Seguir en redes sociales *@
                @if (Perfil.SocialNetworks != null && Perfil.SocialNetworks.Count > 0)
                {
                    <div class="perfil-lateral-redes-sociales redes-sociales">
                        <p class="group-title">@Html.GetText("PERFIL", "SIGUEMEEN")</p>
                        <ul class="lista-redes-sociales no-list-style">
                            @foreach (ProfileModel.SocialNetworkProfileModel redSocialPerfil in Perfil.SocialNetworks)
                            {
                                string clase = redSocialPerfil.Name.ToLower();                                                                
                                @* Controlar que si no son redes sociales, habrá que pintar el icono de la url mostrada *@
                                    if (clase.Contains("twitter") || clase.Contains("facebook") || clase.Contains("linkedin") )
                                    {
                                        containsSocialUrlIcon = true;
                                    }
                                    else {
                                        containsSocialUrlIcon = false;
                                    }                                   
                                <li class="@clase">
                                    @if (containsSocialUrlIcon){
                                        <a title="@redSocialPerfil.Name" href="@redSocialPerfil.UrlProfile" target="_blank">
                                            <i class="fab fa-@clase"></i>
                                        </a>
                                    }else {
                                        string urlSocialImage = "https://www.google.com/s2/favicons?domain=" + @redSocialPerfil.Url;

                                        <a title="@redSocialPerfil.Name" href="@redSocialPerfil.UrlProfile" target="_blank">
                                            <img src=@urlSocialImage width="30px">
                                        </a>                                                                        
                                    }

                                </li>
                            }
                        </ul>
                    </div>                
                }
            </div>
        </div>

        @* Panel (Widget?) Últimas Contribuciones - Comprobar si tiene contribuciones - No hay propiedad en el modelo*@



        @* Personas/Contactos/Seguidores de un usuario u Organización *@
        @if (Perfil.Key != Guid.Empty && !IdentidadActual.IsGuestIdentity)
        {
            @Html.PartialView("_PersonasContactosSeguidores", Model);
        }   
    </div>

    
</div>

@* Cuando cargue la página hacer petición para obtener los recursos del usuario
    De momento dejarlo así para ver cómo poder acceder a los recursos de un usuario
    <script>
        $(document).ready(function () {
            var numResultadosBusq = 'panNumResultados'
            AgregarFiltroPerfil("recursos");
        });

    </script>*@