@using Microsoft.AspNetCore.Http;

@{ ViewBag.Title = "AskURL";
    Layout = "~/Areas/Gnoss.DevTools.ViewMaker/Views/_LayoutAskUrl.cshtml";

    string URL = "";

    string SessionID = "";

    bool ContentLocal = false;

    string ErrorAskURL = "";

    HttpContext httpContext = @ViewBag.Session;


    if (httpContext.Session.GetString("URL") != null)
    {
        URL = httpContext.Session.GetString("URL");
    }
    if (httpContext.Session.GetString("SessionID") != null)
    {
        SessionID = httpContext.Session.GetString("SessionID");
    }
    if (httpContext.Session.GetString("ContentLocal") != null)
    {
        ContentLocal = true;

    }
    if (httpContext.Session.GetString("ErrorAskURL") != null)
    {
        ErrorAskURL = httpContext.Session.GetString("ErrorAskURL");
    }
    httpContext.Response.Headers.Add("Cache-Control", "no-cache, no-store"); }



@*
    if (Session["URL"] != null)
    {
        URL = (string)Session["URL"];
    }


    if (Session["SessionID"] != null)
    {
        SessionID = (string)Session["SessionID"];
    }

    if (Session["ContentLocal"] != null)
    {
        ContentLocal = (bool)Session["ContentLocal"];
    }



    if (Session["ErrorAskURL"] != null)
    {
        ErrorAskURL = (string)Session["ErrorAskURL"];
    }



    Response.Headers.Add("Cache-Control", "no-cache, no-store"); *@

<h2>Compilador de vistas del proyecto <strong id="proyectoSeleccionado">@* @Session["Proyecto"]*@ @httpContext.Session.GetString("Proyecto")</strong></h2>

<div class="form">
    <div class="form-horizontal">
        <hr />
        <h4>Url y sesión</h4>
        <div class="form-group url">
            <label for="URL" class="control-label col-md-3">Url: </label>
            <div class="col-md-9">
                <div class="textbox">
                    @Html.TextBox("URL", URL)
                </div>
            </div>
        </div>
        <div class="form-group session">
            <label for="SessionID" class="control-label col-md-3">SessionID: </label>
            <div class="col-md-9">
                <div class="textbox">
                    @Html.TextBox("SessionID", SessionID)
                </div>
            </div>
        </div>
        <div class="form-group estilosPersonalizados">
            <label for="contentLocal" class="control-label col-md-3">Usar estilos personalizados Local <em>Html.GetBaseUrlPersonalizacion()</em></label>
            <div class="col-md-9">
                <div class="textbox">
                    @Html.CheckBox("contentLocal", ContentLocal)
                </div>
            </div>
        </div>
        <div class="form-group autentication">
            <hr />
            <h4><a data-toggle="collapse" href="#collapse1">Autenticación HTTP Básica<span class="glyphicon glyphicon-lock"></span><span class="caret"></span></a></h4>
            <div class="panel-collapse collapse" id="collapse1">
                <div class="form-group">
                    <label for="User" class="control-label col-md-3">Usuario: </label>
                    <div class="col-md-9">
                        <div class="textbox">
                            @Html.TextBox("User")
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="form-group">
                    <label for="Password" class="control-label col-md-3">Password: </label>
                    <div class="col-md-9">
                        <div class="textbox">
                            @Html.Password("Password")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group botones">
            <div class="col-md-offset-3 col-md-9">
                <input name="submit" id="cargar" type="button" value="Cargar" class="btn btn-default">
                <input name="submit" id="reCargar" type="button" value="Recargar" class="btn btn-default">
            </div>
        </div>
    </div>
</div>

