@model SemanticPropertyModel

@{
    Es.Riam.Semantica.OWL.Propiedad mPropiedad = Model.Element.Propiedad;
}

@if (mPropiedad.EspecifPropiedad.SelectorEntidad.TipoSeleccion == "UrlRecurso")
{
    string clasePag = "";

    if (Model.OntologyPropInfo.EntitySelector.NumEntitiesForPage > 0)
    {
        clasePag = "class=\"pagSelEnt\"";
    }

    <div @Html.Raw(clasePag)>
        @foreach (SemanticPropertyModel.ResourceLinkedToEntitySelector recLink in Model.OntologyPropInfo.EntitySelector.LinkedResources)
        {
            SharedSemCms sharedSemCms = new SharedSemCms();
            sharedSemCms.semanticPropertyModel = Model;
            sharedSemCms.pRecLink = recLink;
            if (!string.IsNullOrEmpty(recLink.Title))
            {
                sharedSemCms.pTipoCampo = 0;
                @Html.PartialView("../Shared/SemCMS/_AddLinkedResourceProperty", sharedSemCms)
            }

            if (!string.IsNullOrEmpty(recLink.ImageUrl))
            {
                sharedSemCms.pTipoCampo = 1;
                @Html.PartialView("../Shared/SemCMS/_AddLinkedResourceProperty", sharedSemCms)
            }

            if (!string.IsNullOrEmpty(recLink.Description))
            {
                sharedSemCms.pTipoCampo = 2;
                @Html.PartialView("../Shared/SemCMS/_AddLinkedResourceProperty", sharedSemCms)
            }

            if (recLink.Authors != null && recLink.Authors.Count > 0)
            {
                sharedSemCms.pTipoCampo = 3;
                @Html.PartialView("../Shared/SemCMS/_AddLinkedResourceProperty", sharedSemCms)
            }
        }
    </div>
}
else if (mPropiedad.EspecifPropiedad.SelectorEntidad.TipoSeleccion == "PersonaGnoss" || mPropiedad.EspecifPropiedad.SelectorEntidad.TipoSeleccion == "GruposGnoss")
{
    string clasePag = "";

    if (Model.OntologyPropInfo.EntitySelector.NumEntitiesForPage > 0)
    {
        clasePag = "class=\"pagSelEnt\"";
    }

    <div @Html.Raw(clasePag)>
        <span class="values">
            @foreach (SemanticPropertyModel.ResourceLinkedToEntitySelector recLink in Model.OntologyPropInfo.EntitySelector.LinkedResources)
            {
                <span class="value">@recLink.Title</span>
            }
        </span>
    </div>
}
else
{
    if (mPropiedad.EspecifPropiedad.SelectorEntidad.TipoSeleccion == "Tesauro")
    {
        if (mPropiedad.EspecifPropiedad.SelectorEntidad.TipoPresentacion == "Arbol")
        {
            if (Model.OntologyPropInfo.PropertyValues.Count > 0)
            {
                <div class="ArbolTesSem">
                    <ul>
                        @Html.PartialView("../Shared/SemCMS/_AddThesaurusSemanticTreeChildren", Model.OntologyPropInfo.PropertyValues)
                    </ul>
                </div>
            }
        }
        else
        {
            string classDiv = "tesSem contSelEnt contSelEnt_" + mPropiedad.NombreGeneracionClases;
            bool pintarComa = false;
            <div class="@classDiv">
                @foreach (SemanticPropertyModel.PropertyValue propertyValue in Model.OntologyPropInfo.PropertyValues)
                {
                    if (pintarComa)
                    {
                        @Html.Raw(" > ");
                    }

                    pintarComa = true;

                    <span>@propertyValue.Value</span>
                }
            </div>
        }
    }
    else
    {
        if (Model.OntologyPropInfo.EntitySelector.NumEntitiesForPage > 0)
        {
            <div class="pagSelEnt">
                @Html.PartialView("../Shared/SemCMS/_AddNormalSelEnt", Model)
            </div>
        }
        else
        {
            @Html.PartialView("../Shared/SemCMS/_AddNormalSelEnt", Model)
        }

    }
}

@if (Model.OntologyPropInfo.EntitySelector.NumEntitiesForPage > 0)
{
    string srcImagenEspera = Html.GetBaseUrlStatic() + "/images/espera.gif";
    string onclick = "PaginarSelectorEnt(this, '" + Model.EntityParent.SemanticResourceModel.MvcActionsUrl + "/load-more-entities-selector', '" + Model.EntityParent.Key + "', '" + Model.Element.Propiedad.Nombre + "', " + Model.OntologyPropInfo.EntitySelector.NumEntitiesForPage + ", " + Model.OntologyPropInfo.EntitySelector.TotalEntitiesPagination + ");";

    <div class="loadpagSelectEnt" style="display:none;">
        <img ID="imgEsperaArchivo" src="@srcImagenEspera" alt="Espere..." />
    </div>
    <div class="pagSelectEnt">
        <a class="antPagSelectEnt" onclick="@onclick">@Html.GetText("COMMON", "ANTERIOR")</a>
        <a class="sigPagSelectEnt" onclick="@onclick">@Html.GetText("COMMON", "SIGUIENTE")</a>
    </div>
}
