@model AdministrarUsuariosOrganizacionViewModel
@*
Descripción
-----------------------------------------------
Nueva vista que muestra las acciones disponibles a realizar para el buscador. Estas se muestran en la cabecera del listado, correspondiente con el fichero "_list-header". Estas acciones serán:
- ComboBox para "Descargar"
- ComboBox para "Ordenar"
- ComboBox para "Visualizar"


Variables
----------------------------------------------------------------
*@
@{
CommunityModel Comunidad = Html.GetComunidad();
// Obtengo el tipo de item que se desea mostrar en _list-content (Comunidades, Grupos) pasado desde la vista "Comunidades" y "Grupos"
var listItemType = (String)ViewData["UsuariosOrganizacionListItemType"];
// Mostrar el botón de invitar a usuario en la sección de acciones. Solo mostrar si se están mostrando "usuarios"
bool displayInviteUsersToCommunity = false;
// Mostrar el botón de añadir grupos
bool displayAddGroups = false;
// Url para realizar la invitación a la organización
string urlSendInvitation_invite_organization = "";
// Url para añadir grupos
string urlAddGrupo = "";
// Conocer los permisos del usuario para adminstrar una comunidad
CommunityModel.PermissionsModel permisosComunidad = Comunidad.Permissions;

}

@*
----------------------------------------------------------------
-------------------- Cabecera-Header de lista de recursos dentro de una comunidad --------------------
*@

@*Controlar si es sección de Usuarios para mostrar un botón para invitar a usuario *@
@if(listItemType == "Usuarios")
{
    displayInviteUsersToCommunity = true;
    urlSendInvitation_invite_organization = @Html.GetPerfil().Url + @Html.GetText("URLSEM", "INVITARAORG") + "/load-modal";
}
@* Controlar si es sección de grupos para mostrar un botón para añadir grupos *@
@if (listItemType == "Grupos") {

    // Añadir grupos de la organización
    if (Comunidad.MetaProyect)
    {
        displayAddGroups = true;
        urlAddGrupo = Html.GetPerfil().Url + Html.GetText("URLSEM", "ADMINISTRACION") + "/" + Html.GetText("URLSEM", "GRUPOS") + "/" + Html.GetText("URLSEM", "CREARGRUPO");
    }
    else { 
    // Añadir grupos a la comunidad si lo permite
        if (permisosComunidad.CreateGroup)
        {
            displayAddGroups = true;
            urlAddGrupo = Comunidad.Url + "/" + Html.GetText("URLSEM", "GRUPOS") + "/" + Html.GetText("URLSEM", "CREARGRUPO");
        }
    }
}

@* Listado de acciones para hacer con resultados *@
<div class="acciones-listado">
    <div class="wrap">
                      
        @* Opciones de visualización los resultados - No tener en cuenta opciones de visualización según la configuración *@                   
            <div id="panel-viewBy" class="visualizacion dropdown dropdown-select">
                @* Visualizar por defecto los resultados *@
                <a id="buscador" class="dropdown-toggle active" data-toggle="dropdown">
                    <span class="material-icons">view_agenda</span>
                    <span class="texto">@Html.GetText("COMBUSQUEDAAVANZADA", "LISTADO")</span>
                </a>
                                                                                                        
                @* Opciones disponibles para visualizar los resultados *@
                <div class="dropdown-menu basic-dropdown dropdown-icons dropdown-menu-right">
                    @* Mostrar o no el tipo de vista para visualizar resultados *@                                                
                    @* Visualización LISTA *@                    
                    <a class="item-dropdown aListView activeView" data-class-resource-list="listView">
                        <span class="material-icons">view_agenda</span>
                        <span class="texto">@Html.GetText("COMBUSQUEDAAVANZADA", "LISTADO")</span>
                    </a>
                    
                    @* Visualización GRID - MOSAICO*@                    
                    <a class="item-dropdown aCompacView" data-class-resource-list="mosaicView">
                        <span class="material-icons">view_comfy</span>
                        <span class="texto">@Html.GetText("COMBUSQUEDAAVANZADA", "MOSAICO")</span>
                    </a>                                                           
                </div>
            </div>  
        
            @* Botón de invitación a usuarios a la comunidad (Si la vista es de visualización de usuarios) *@
            @if (displayInviteUsersToCommunity == true) { 
                <div id="panel-invite-user">
                    <span 
                          id="list-header-actions-invite-user"
                          class="btn btn-primary"                  
                          onclick="DeployActionInModalPanel('@urlSendInvitation_invite_organization', this, 'modal-dinamic-content', '');"
                          data-toggle="modal" 
                          data-target="#modal-container">
                        <span class="material-icons">mail</span>
                        <span class="texto">@Html.GetText("USUARIOS", "INVITARAORGANIZACION")</span>                                    
                    </span>
                </div>
            } 
            
            @* Botón de invitación a usuarios a la comunidad (Si la vista es de visualización de usuarios) *@
            @if (displayAddGroups == true) {                
                <a class="btn btn-outline-grey" href="@urlAddGrupo">
                    <span class="material-icons">group_add</span>
                    <span>@Html.GetText("GRUPO", "CREARGRUPO")</span>
                </a>
            } 

    </div>
</div>
