@model AdminCatEspacioPersonalModel
@*
Descripción
-----------------------------------------------
Vista parcial de "Renombrar categoría" que se carga dentro del modal de "Editar categorias" del perfil del usuario

Variables
----------------------------------------------------------------
*@


@*
----------------------------------------------------------------
-------------------- Vista parcial dentro del modal del Espacio Personal --------------------
*@

<div id="seccion-renombrar" class="seccion">
    <div class="titulo-seccion mb-4">
        <span class="material-icons-outlined">drive_file_rename_outline</span>
        <span class="pl-2">@Html.GetText("COMADMINCATEGORIAS", "CAMBIARNOMBRE")</span>
    </div>
    <div class="form">
        <div class="form-group mb-5">
            <label class="control-label d-block">
                @Html.GetText("COMADMINCATEGORIAS", "RENOMBRARCAT")
                <span id="lblNombreAntiguoCat"></span>
                @Html.GetText("COMADMINCATEGORIAS", "RENOMBRARCATA")
            </label>
            <input placeholder="Introduce el nuevo nombre de la categoría" type="text" id="txtNuevoNombre" class="form-control not-outline">
        </div>
    </div>
    <div class="acciones">
        <a id="guardar-renombrar" class="btn btn-primary text-uppercase guardar">@Html.GetText("COMADMINCATEGORIAS", "RENOMBRAR")</a>
        <a class="btn btn-link text-uppercase volver pl-3">@Html.GetText("COMMON", "CANCELAR")</a>
    </div>
</div>