@model RegisterDataViewModel

@*
Descripción
-----------------------------------------------
Vista índice o principal donde se cargarán los diferentes formularios o vistas para el proceso de registro correspondiente al paso 2, 3 y 4 (si hiciera falta).


Variables
----------------------------------------------------------------
*@
@{
// Clase no-clonarMenuUsuario para no mostrar el panel del usuario izquierdo durante el proceso de registro.
Html.SetBodyClass("layout04 full operativaRegistro registroPaso0 " + Model.TabActive + " comGnoss" + " registro " + "no-clonarMenuUsuario");
CommunityModel Comunidad = Html.GetComunidad();

UserProfileModel Perfil = Html.GetPerfil();

}
@*
    ----------------------------------------------------------------
    -------------------- Vista indice del proceso de registro para los pasos 2, 3 y 4 --------------------
*@

<div class="row">    
    <div id="col01" class="col">
        <div class="form formularioRegistroUsuarios panel-centrado">
            <h1>
                <strong>@Perfil.Name</strong>, @Html.GetText("COMMON","GRACIASPORUNIRTEA") <strong>@Comunidad.Name</strong>
            </h1>
            <div class="box box01">
                @* Paso actual de registro en el que se encuentra el usuario *@
                <div class="step-progress-wrap mb-5">
                    <ul class="step-progress">
                        @* Comprobar el paso en el que se encuentra el usuario*@                                                
                        @* Paso0-1: Registro inicial: Paso realizado (registro inicial realizado)  *@
                        <li class="step-progress__circle done active">
                            <span class="step-progress__text">
                                @Html.GetText("COMMON","DATOSBASICOS")
                            </span>
                        </li>

                        @* Paso2: Crear tu perfil - Datos (Nombre, datos, foto) *@
                        @if (Model.TabData)
                        {
                            <li class="step-progress__bar @(Model.TabActive == 2 || Model.TabActive == 1 || Model.TabActive == 3 ?"active":"")"></li>
                            <li class="step-progress__circle @(Model.TabActive == 1 || Model.TabActive == 2 || Model.TabActive == 3 ?"active":"") @(Model.TabActive == 1 || Model.TabActive == 2 || Model.TabActive == 3 ?"done":"") ">
                                <span class="step-progress__text @(Model.TabActive == 2?"current":"")">@Html.GetText("REGISTRO", "CREAPERFIL")</span>
                            </li>
                        }

                        @* Paso3 : Preferencias  *@
                        @if (Model.TabPreferences)
                        {
                            <li class="step-progress__bar @(Model.TabActive == 1 || Model.TabActive == 3 ?"active":"")"></li>
                            <li class="step-progress__circle @(Model.TabActive == 1 || Model.TabActive == 3?"active":"") @(Model.TabActive == 1 || Model.TabActive == 3 ?"done":"")">
                                <span class="step-progress__text @(Model.TabActive == 1?"current":"")">@Html.GetText("REGISTRO", "PREFERENCIAS")</span>
                            </li>
                        }

                        @* Paso4 : Conectar con usuarios  *@
                        @if (Model.TabConect)
                        {
                            <li class="step-progress__bar @(Model.TabActive == 3?"active":"")"></li>
                            <li class="step-progress__circle @(Model.TabActive == 3?"active":"")">
                                <span class="step-progress__text @(Model.TabActive == 3?"current":"")">@Html.GetText("REGISTRO", "CONECTATE")</span>
                            </li>
                        }                        
                    </ul>
                </div>

                @* Formularios o vistas a mostrar dependiendo del estado actual del TAB *@
                @* Panel de Preferencias*@
                @if (Model.TabPreferences && Model.TabActive == 1)
                {
                    @Html.PartialView("_Preferencias")
                }
                @* Panel de Preferencias*@
                @if (Model.TabData && Model.TabActive == 2)
                {
                    @Html.PartialView("_Datos")
                }
                @* Panel de Conectate con gente a quien poder seguir*@
                @if (Model.TabConect && Model.TabActive == 3)
                {
                    @Html.PartialView("_Conectate")
                }
            </div>
        </div>
    </div>
</div>
