@*
Descripción
----------------------------------------------------------------
Vista parcial donde se mostrará información acerca de la activación del servicio/sistema de integración continua (CI/CD).

Variables
----------------------------------------------------------------
*@
@{
    CommunityModel Comunidad = Html.GetComunidad();

    string enlaceAdministrarRamas = $"{Comunidad.Url}/{Html.GetText("URLSEM", "ADMINISTRAINTEGRACIONCONTINUA")}";
    string enlaceAdministrarDespliegues = $"{Comunidad.Url}/{Html.GetText("URLSEM", "ADMINISTRARDESPLIEGUES")}";

    if (EntornoEsEcosistema(Comunidad.ShortName))
    {
        enlaceAdministrarRamas += "-ecosistema";
        enlaceAdministrarDespliegues += "-ecosistema";
    }
}

@*
----------------------------------------------------------------
*@

@if (Comunidad.IntegracionContinuaActivada)
{
    @* Sin Rama activa en ecosistema -> Crear una rama para poder subir los cambios *@
    <div class="headerCICD">
        <div class="headerCICD__container">
            <span class="material-icons-outlined mr-2">info</span>
            <span>@Comunidad.MensajeAvisoAdministracionIC</span>

            @if (Comunidad.MostrarBotonAdministrarRamas)
            {
                @* Administrar Ramas *@
                <a class="btn btn-primary ml-2 mr-2 btnCICD withTextShadow"
                   href="@enlaceAdministrarRamas">
                    @Html.GetText("DEVTOOLS", "ADMINISTRARRAMAS")
                </a>
            }
            @if (Comunidad.MostrarBotonAdministrarDespliegues)
            {
                @* Administrar Despliegues *@
                <a class="btn btn-primary btnCICD withTextShadow"
                   href="@enlaceAdministrarDespliegues">
                    @Html.GetText("DEVTOOLS", "ADMINISTRARDESPLIEGUES")
                </a>
            }
        </div>
    </div>
}

@functions {
    public bool EntornoEsEcosistema(string nombreCorto)
    {
        return string.IsNullOrWhiteSpace(nombreCorto);
    }
}