@*Descripción
----------------------------------------------------------------
Esta vista contiene la parte head (<head>) de la página o proyecto web. Se ha sacado de _Layout para aligerarla.

Variables
----------------------------------------------------------------
*@
@{
    CommunityModel Comunidad = Html.GetComunidad();
}
@*
-------------------- Sección <head> del proyecto web --------------------*@

@* Carga de información relativa al Proyecto (Begin) *@
@if (Comunidad != null && Comunidad.ProjectExtraHTMLList != null)
{
    @Html.PartialView("../Shared/ProyectoElementoHTML", Comunidad.ProjectExtraHTMLList.Where(a => a.Ubication == UbicacionHtmlProyecto.BeginHead).ToList())
}

@* Carga de ficheros Metas *@
@Html.PartialView("../Shared/Head/_Metas")


@* Título de la página actual + Favicon*@
<title>@Html.GetTituloPagina()</title>
<link id="IMGfavicon" rel="shortcut icon" type="image/ico" href="@Html.GetFavicon()" />

@* Vista parcial para cargar información relativa a SEO (Seo, Canonical...) *@
@Html.PartialView("../Shared/Layout/_partial-views/_layout-seo-canonical")

@if (!string.IsNullOrEmpty(Html.GetURLRDF()))
{
    <link rel="alternate" type="application/rdf+xml" href="@Html.GetURLRDF()" />
}

@* Carga de Hojas de estilo para la Web *@
@Html.PartialView("../Shared/Head/_HojasDeEstilo")

@* Carga de Hojas JS para la Web *@
@Html.PartialView("../Shared/Head/_FicherosJavascript")

@* Carga de información relativa al Proyecto (End) *@
@if (Comunidad != null && Comunidad.ProjectExtraHTMLList != null)
{
    @Html.PartialView("../Shared/ProyectoElementoHTML", Comunidad.ProjectExtraHTMLList.Where(a => a.Ubication == UbicacionHtmlProyecto.EndHead).ToList())
}