@model ResourceModel

@*
Descripción
-----------------------------------------------
Vista que se utiliza para mostrar a modo de previsualización, el recurso en la sección de Vinculados o Gadgets de la zona derecha de la pantalla. Contendrá:
- Título
- Breve descripción del recurso que se está vinculado
- Acción de desvincular recurso del recurso visualizado en la página "Ficha de Recurso"

Variables
----------------------------------------------------------------
*@
@{
// Nombre clase para el título. Para el nuevo diseño no parece que haga nada, pero lo añado.
string classTitulo = "";
// Nombre adicional para el tipo de recurso y ser usado a modo de clase
string claseTipoRecurso = Html.ObtenerNombreClasePorTipoRecurso(Model.TypeDocument);
@* Controlar si dispone de fotografía el FichaRecursoMini *@
bool hasResourceImage = !string.IsNullOrEmpty(Model.UrlPreview);
// Nº mínimo de caracteres que debe de tener la descripción para ser mostrada
int minimunDescriptionCharacters = 20;
@* Detectar si es un recurso privado *@
string privado = "";
}

@*
----------------------------------------------------------------
-------------------- Ficha Recurso Mini (Previsualización de Recurso Vinculado) --------------------
*@

@* Añadir clase por ser un tipo de documento especial. No parece que sirva para el nuevo diseño pero lo añado *@
@if (Model.TypeDocument == ResourceModel.DocumentType.Semantico)
{
    classTitulo = "semantico " + Model.RdfType;
}

@* Controlar contenido e imagen del FichaRecursoMini *@
@* Limpiar de <img e iframes> la descripción del recurso *@
@{
String descriptionFormatted = @Html.CleanHtmlFromMultimediaItems(Model.Description);
// Eliinar posibles párrafos para que quede el texto limpio por completo
descriptionFormatted = Html.CleanHtmlParagraphsStringHtml(descriptionFormatted);
}

@* Comprobar si es un recurso privado *@
@if (Model.Private) {
    privado = "private";
}

@* Inicio del recurso mini *@
<article class="resource resource-grupo @claseTipoRecurso @privado" typeof="sioc_t:Item" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:sioc_t="http://rdfs.org/sioc/types#" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:sioc="http://rdfs.org/sioc/ns#">
    <div class="wrap">
        <h3 class="title icono-recurso con-icono-before @classTitulo">
            <a href="@Model.CompletCardLink" property="dcterms:title" content="@Model.Title">@Model.Title</a>
        </h3>
        
        @* Breve descripción del recurso mini con imagen *@
        @if (hasResourceImage && descriptionFormatted.Length > minimunDescriptionCharacters)
        {
            <div class="d-flex pt-2">           
                @* Mostrar imagen si hay descripción de al menos 10 caracteres *@            
                <div class="img-resumen-wrapper">
                    <img class="img-resumen" 
                        title="@Model.Title" 
                        alt="@Model.Title"
                        src="@Model.UrlPreview">
                </div>
            
                @* Cuerpo del MiniRecurso *@
                @if (!string.IsNullOrEmpty(descriptionFormatted))
                {
                    <div class="resumen">                                                
                        @Html.Raw(Html.TruncateString(descriptionFormatted, 230))
                    </div>
                }
            </div>
        }

        else if(descriptionFormatted.Length > minimunDescriptionCharacters)
        {
            <div class="resumen">            
                @Html.Raw(Html.TruncateString(descriptionFormatted, 230))
            </div>
        }

        @if (Model.ViewSettings != null)
        {
            if (!string.IsNullOrEmpty(Model.ViewSettings.ContextView.InfoExtra))
            {
                <div class="group body">                    
                    @Html.Raw(Model.ViewSettings.ContextView.InfoExtra)        
                </div>
            }
        }

        @* Acción Desvincular *@
        @if (Model.Actions != null && Model.Actions.UnLinkUp)
        {
            string funcionDesVincularAceptar = "AccionRecurso_DesVincular_Aceptar('" + Model.ListActions.UrlUnLinkResource + "','" + Context.Request.Path.ToString() + "/load-linked-resources', '" + ViewContext.RouteData.Values["docID"] + "', '" + Model.Key + "')";

            <a class="btn btn-outline-grey mt-2"
               alt="@Html.GetText("COMMON","DESVINCULAR") @Model.Title"
               data-toggle="modal"
               data-target="#modal-container"
               title="Desvincular @Model.Title"
               style="cursor: pointer"
               onclick="AccionFichaPerfil('@Html.GetText("COMMON", "DESVINCULAR")', // Título del panel,
                                               '@Html.GetText("COMMON", "SI")', // Título del botón primario (Sí)
                                               '@Html.GetText("COMMON", "NO")', // Título del botón secundario (No)
                                               '@Html.GetText("COMMON", "DESEASDESVINCULARDELDOCUMENTOACTUALELRECURSO@1@", Model.Title)', // Mensaje o pregunta de la acción a realizar por el usuario',
                                               '@Model.Key',
                                                function () {
                                                     @funcionDesVincularAceptar;
                                                },
                                            '');
                            ">
                <span class="material-icons">
                    link_off
                </span>
                @Html.GetText("COMMON", "DESVINCULAR")
            </a>
        }

        @* Si se trata de una encuesta - Sin diseño dewenir *@
        @if (Model.TypeDocument == ResourceModel.DocumentType.Encuesta)
        {
            <div class="group content">
                <span>
                    <div class="encuesta" id="encuesta_@Model.Key">
                        @Html.PartialView("../FichaRecurso/_FichaEncuesta", Model)
                    </div>
                </span>
            </div>
        }
    </div>
</article>


