@*
Descripción
-----------------------------------------------
Vista modal que servirá para certificar un recurso. Se mostrará cuando en la ficha del recurso, se pulse sobre "Certificar".
* Atención: * Solo es necesario mostrar el contenido del modal ya que es cargado de forma dinámica mediante petición AJAX realizada al FichaRecursoController.

Variables
----------------------------------------------------------------
*@
@{
    CommunityModel Comunidad = Html.GetComunidad();
    ResourceModel fichaRecurso = Model.Resource;
    string idioma = Html.GetUtilIdiomas().LanguageCode;
    @* Función de aceptar certificación al pulsar en "Aceptar" *@
    string funcionCertificarAceptar = "AccionRecurso_Certificar_Aceptar('" + fichaRecurso.ListActions.UrlCertify + "', '" + fichaRecurso.Key + "', '" + Html.GetText("PERFILBASERECURSOSFICHA", "RECURSOCERTIFICADO") + "')";
}

@*
----------------------------------------------------------------
-------------------- Vista Modal para Certificar un recurso --------------------
*@
      @* Título del modal *@
      <div class="modal-header">
        <p class="modal-title">
          <span class="material-icons">verified_user</span>@Html.GetText("PERFILBASERECURSOSFICHA", "CERTIFICARDOC")
        </p>
        <span
          class="material-icons cerrar"
          data-dismiss="modal"
          aria-label="Close"
          >close</span
        >
      </div>
       @* Cuerpo del modal *@
      <div class="modal-body">
        <div class="formulario-edicion">
          <div class="form-group">
            <label class="control-label">@Html.GetText("PERFILBASERECURSOSFICHA", "CERTIFICARDOC")</label>
          </div>
          <div class="form-group">
              @* Valoración: No valorado *@
              <div class="custom-control themed little primary custom-radio">
                  <input type="radio"
                         id="@Guid.Empty"
                         name="certificar-recurso"
                         @((@Guid.Empty == fichaRecurso.Certification.Key) ? "checked" : null)
                         data-value="@Html.GetText("COMBUSQUEDAAVANZADA", "NOCERTIFI")"
                         data-option="@Guid.Empty"
                         class="custom-control-input" />
                  <label class="custom-control-label"
                         for="@Guid.Empty">No certificado</label>
              </div>

              @foreach (Guid certificacionID in Comunidad.ListaCertificaciones.Keys)
              {                  
                  <div class="custom-control themed little primary custom-radio">
                      @* Incluir "checked" si el recurso ya dispone de una certificación *@
                      <input type="radio"
                             id="@certificacionID"
                             name="certificar-recurso"
                             @((certificacionID == fichaRecurso.Certification.Key) ? "checked" : null)
                             data-value="@UtilCadenas.ObtenerTextoDeIdioma(Comunidad.ListaCertificaciones[certificacionID], idioma, null)"
                             data-option="@certificacionID"
                             class="custom-control-input" />
                      <label class="custom-control-label"
                       for="@certificacionID">@UtilCadenas.ObtenerTextoDeIdioma(Comunidad.ListaCertificaciones[certificacionID], idioma, null)</label>
                  </div>
              }
          </div>
          
            @* Mensaje informativo del proceso*@
            <div id="despAccionRec_@fichaRecurso.Key">
                <div>
                    <div id="menssages">
                        <div class="ok"></div>
                        <div class="ko"></div>
                    </div>
                </div>                        
            </div>

          <div class="form-actions">
              <a class="btn btn-primary" onclick="@funcionCertificarAceptar">@Html.GetText("PERFILBASERECURSOSFICHA", "CERTIFICAR")</a>              
          </div>
        </div>
      </div>