@*
Descripción
-----------------------------------------------
Vista modal que servirá para preguntar al publisher del recurso si se desea o no bloquear comentarios. Se mostrará cuando en la ficha del recurso, se pulse sobre "Bloquear comentarios".
Para ahorrar código, esta vista modal se cargará en un modal "padre" que es el "__resourece-modal-container"


Variables
----------------------------------------------------------------
*@
@{
ResourceModel fichaRecurso = Model.Resource;
//Texto de Bloquear comentarios
string textoLinkBloqCom = Html.GetText("PERFILBASERECURSOSFICHA", "BLOQUEARCOMENTARIOS");
// Texto de Desbloquear comentarios
string textoLinkDesBloqCom = Html.GetText("PERFILBASERECURSOSFICHA", "DESBLOQUEARCOMENTARIOS");

// Enlaces de las acciones para ejecutar proceso de bloquear o no comentarios
string accionEnlace = "";
string textoEnlace = "";
bool allowComments = fichaRecurso.AllowComments;

}

@*
----------------------------------------------------------------
-------------------- Vista Modal para Bloquear o no Comentarios en un recurso --------------------
*@

@* Tener en cuenta el tipo de recurso sobre el que se desea permitir/bloquear comentarios*@
@if (fichaRecurso.TypeDocument == ResourceModel.DocumentType.Pregunta)
{
    textoLinkBloqCom = Html.GetText("PERFILBASERECURSOSFICHA", "CERRARPREGUNTA");
    textoLinkDesBloqCom = Html.GetText("PERFILBASERECURSOSFICHA", "ABRIRPREGUNTA");
}
else if (fichaRecurso.TypeDocument == ResourceModel.DocumentType.Debate)
{
    textoLinkBloqCom = Html.GetText("PERFILBASERECURSOSFICHA", "CERRARDEBATE");
    textoLinkDesBloqCom = Html.GetText("PERFILBASERECURSOSFICHA", "ABRIRDEBATE");
}
else if (fichaRecurso.TypeDocument == ResourceModel.DocumentType.Encuesta)
{
    textoLinkBloqCom = Html.GetText("PERFILBASERECURSOSFICHA", "CERRARENCUESTA");
    textoLinkDesBloqCom = Html.GetText("PERFILBASERECURSOSFICHA", "ABRIRENCUESTA");
}

@* Configuración del título y de la acción a realizar*@
@if (fichaRecurso.AllowComments)
{
accionEnlace = "BloquearComentarios(this, '" + textoLinkDesBloqCom + "', '" + fichaRecurso.ListActions.UrlLockComments + "', '" + fichaRecurso.Key + "')";
textoEnlace = textoLinkBloqCom;
}
else
{
accionEnlace = "DesbloquearComentarios(this, '" + textoLinkBloqCom + "', '" + fichaRecurso.ListActions.UrlUnlockComments + "', '" + fichaRecurso.Key + "')";
textoEnlace = textoLinkDesBloqCom;
}

@* Panel para bloquear/Desbloquear comentarios *@
      <div class="modal-header">
        <p class="modal-title">
            @* Bloquear o Desbloquear comentarios: Título Modal *@
            <span class="material-icons">@( (fichaRecurso.AllowComments) ? "speaker_notes_off" : "speaker_notes")</span>
            @( (fichaRecurso.AllowComments) ? textoLinkBloqCom : textoLinkDesBloqCom)          
        </p>
        <span
          class="material-icons cerrar"
          data-dismiss="modal"
          aria-label="Close"
          >close</span
        >
      </div>
      <div class="modal-body">
        <div class="formulario-edicion">
          <div class="form-group">              
              <label class="control-label">                  
                  @( (fichaRecurso.AllowComments) ? Html.GetText("COMMON","DESEASBLOQUEARLOSCOMENTARIOS") : Html.GetText("COMMON","DESEASDESBLOQUEARLOSCOMENTARIOS"))                  
              </label>
          </div>
          <div class="form-group">
            <div
              class="themed primary custom-control custom-radio custom-control-inline"
            >
              <input
                type="radio"
                id="input-bloquear-comentarios-no"
                name="bloquear-comentarios"
                class="custom-control-input"
                value="input-bloquear-comentarios-no"
              />
              <label
                class="custom-control-label"
                for="input-bloquear-comentarios-no"
                >@Html.GetText("COMMON","NO")</label
              >
            </div>
            <div
              class="themed primary custom-control custom-radio custom-control-inline"
            >
              <input
                type="radio"
                id="input-bloquear-comentarios-si"
                name="bloquear-comentarios"
                class="custom-control-input"
                value="input-bloquear-comentarios-si"
                checked
              />
              <label
                class="custom-control-label"
                for="input-bloquear-comentarios-si"
                >@Html.GetText("COMMON","SI")</label
              >
            </div>
          </div>

            @* Mensaje informativo del proceso*@
            <div id="despAccionRec_@fichaRecurso.Key">
                <div>
                    <div id="menssages">
                        <div class="ok"></div>
                        <div class="ko"></div>
                    </div>
                </div>                        
            </div>
          <div class="form-actions">
            <button id="button-bloquear-desbloquear-comentarios" onclick="@accionEnlace" class="btn btn-primary">@Html.GetText("COMMON","GUARDAR")</button>              
          </div>
        </div>
      </div>

@* Asignar al botón "Guardar" de cerrar modal en caso de seleccionar "NO". Cambiar la acción por defecto del botón *@
<script>
    (function () {
        // Botón de guardar acción
        var btnGuardar = $("#button-bloquear-desbloquear-comentarios");                
        // Acción de guardar acción
        var eventoGuardar = btnGuardar.attr("onClick");
            
        // Comportamiento de los inputs 
        $('input[type=radio][name=bloquear-comentarios]').bind("change", function () {
            switch (this.value) {
                case "input-bloquear-comentarios-si":                                        
                    btnGuardar.attr("onclick", eventoGuardar);
                    btnGuardar.attr("data-dismiss", "");
                    break;
                default:
                    // Eliminar acción onclick
                    btnGuardar.attr("onclick", "");
                    // Añadir acción de cierre del modal
                    btnGuardar.attr("data-dismiss", "modal");                    
                    break;
            }
        });
    })();
</script>