@model RecentActivity

@*
Descripción
-----------------------------------------------
Vista que muestra la bandeja de las suscripciones de la comunidad.

Variables
----------------------------------------------------------------*@
@{ 
CommunityModel Comunidad = Html.GetComunidad();
UserProfileModel Perfil = Html.GetPerfil();
}

@*
----------------------------------------------------------------
-------------------- Vista de Bandeja de suscripciones --------------------
*@

@{
    Html.SetBodyClass("layout02 listadoMyGnoss listadoSuscripciones");
} 
  
<div class="row">
    @* Breadcrumb / Migas de pan en la ficha del recurso *@
    <div class="col col-12 col-breadcrumb" id="breadcrumb">
        <ul>
            <li><a href="@Comunidad.Url"><strong>@Html.GetText("COMMON", "HOME")</strong></a></li>
            <li>@Html.GetText("MENU", "SUSCRIPCIONES")</li>
        </ul>
    </div>

    <div class="col col-12 header-listado">
        <div class="h1-container">
            <h1>@Html.GetText("MENU", "SUSCRIPCIONES")</h1>
        </div>
        @* Ocultar Administrar suscripciones ya que gestiona las del MetaEspacio -> Sin sentido *@
        <div class="acciones-listado">
            <div class="wrap">
                <a class="btn btn-outline-grey" href="@Perfil.Url@Html.GetText("URLSEM", "ADMINISTRARSUSCRIPCIONES")">
                    <span class="material-icons">edit_notifications</span>
                    <span>@Html.GetText("SUSCRIPCIONES", "ADMINISTRARSUSCRIPCIONES")</span>
                </a>
            </div>
        </div>
        
    </div>
    <div class="col col-12">
        <div class="resource-list listView resource-list-personas">
            @Html.PartialView("ControlesMVC/_ActividadReciente", Model)
        </div>
    </div>
</div>