@using Es.Riam.Gnoss.Web.MVC.Models;
@if (Html.GetComunidad() != null)
{
@model HomeConectedViewModel
@*
Descripción
-----------------------------------------------
Vista que contiene los elementos principales para cargar el html cuando el usuario está en la home estando conectado o logueado en una determinada comunidad.
La Home está formadao por:
- Un buscador de elementos
- Un panel izquierdo/centrado donde apareceran las secciones principales (Actividad Reciente)
- Un panel derecho donde se mostrarán los widgets o información relevante (Lo más interesante, Widgets...)

Variables
----------------------------------------------------------------
*@

HeaderModel cabecera = Html.GetCabecera();
//UserProfileModel perfil = Html.GetPerfil();
CommunityModel Comunidad = Html.GetComunidad();
//UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
CommunityModel.PermissionsModel permisosComunidad = Comunidad.Permissions;

@*
    ----------------------------------------------------------------
    -------------------- Vista de la Home cuando el usuario está logeado en una comunidad --------------------
*@

@*Buscador utilizado para buscar en toda la comunidad o en todo GNOSS*@


<div id="buscador">
    @* Formulario del buscador *@
        <form method="post" id="formBuscador" action="@($"{Html.GetBaseUrlIdioma()}{Context.Request.Path}")">
        <fieldset style="display: block" class="form-inline">
            <legend class="nota">buscador</legend>
            @* SELECT + CAMPOS OCULTOS PARA EL BUSCADOR *@
            <div class="fieldsetGroup form-group">
                @*<label for="ddlCategorias">@Html.GetText("METABUSCADOR", "ENCUENTRAEN")</label>*@
                @* Select para elegir dónde buscar + Inputs vacíos para formulario -> Lo oculto para el nuevo Front
                    <select class="ddlCategorias form-control" id="ddlCategorias">
                        @foreach (HeaderModel.SearchHeaderModel.SearchSelectComboModel combo in cabecera.Searcher.ListSelectCombo)
                        {
                            if (combo.Selected)
                            {
                                <option value="@combo.ID" selected="selected">@combo.Name</option>
                            }
                            else
                            {
                                <option value="@combo.ID">@combo.Name</option>
                            }
                        }
                    </select>*@
                    @* Más campos ocultos para el buscador en base al SELECT -> Movido a _layout-hidden-forms para que esté disponible en todas las webs
                    @foreach (HeaderModel.SearchHeaderModel.SearchSelectComboModel combo in cabecera.Searcher.ListSelectCombo)
                    {
                        <input type="hidden" value="ub_@combo.ID@Html.Raw("@")@combo.Url" class="inpt_tipo_busqueda" />
                    }
                    @foreach (HeaderModel.SearchHeaderModel.SearchSelectComboModel combo in cabecera.Searcher.ListSelectCombo)
                    {
                        if (!string.IsNullOrEmpty(combo.Autocomplete))
                        {
                            <input type="hidden" value="oa_@combo.ID@Html.Raw("@")@combo.Autocomplete" class="inpt_OrigenAutocompletar" />
                        }
                        if (!string.IsNullOrEmpty(combo.FacetAutocomplete))
                        {
                            <input type="hidden" value="fa_@combo.ID@Html.Raw("@")@combo.FacetAutocomplete" class="inpt_FacetasAutocompletar" />
                        }
                    }
                    *@
            </div>

            @* Buscador *@
            <!-- #buscador //-->
            <div class="fieldsetGroup searchGroup finderUtils">
                <div class="group finderSection">
                    <label for="criterio" class="nota">Buscar en &nbsp;</label>
                    @* Caja de texto para buscar *@
                    <input type="text" id="txtBusquedaPrincipal" class="text txtBusqueda autocompletar not-outline finderSectionText ac_input" autocomplete="off" placeholder="@Html.GetText("COMMON","BUSCAR")" />
                    @* Botón de búsqueda que será la propia lupa*@
                    <input type="button" title="@Html.GetText("METABUSCADOR", "ENCONTRAR")" class="encontrar findAction" id="btnBuscarPrincipal" />
                </div>
            </div>

            <!-- #buscador oculto para que funcione el submit y el comportamiento//-->
            <div class="botonBuscar"></div>
            <input type="submit" style="display: none;" id="enviarFormBuscador" value="enviar" title="enviar" />
        </fieldset>
    </form>
    <div class="resultados" id="resultadosMetabuscador">
        <ul id="listaMetabuscadorResultados">
        </ul>
    </div>
    <div class="cargadores" id="sugerenciasMetabuscador">
    </div>
</div>

}