@model AdministrarUsuariosOrganizacionViewModel

@*
Descripción
-----------------------------------------------
Vista Index para administrar una organización. En concreto, en esta vista, se puede administrar lo siguiente: Usuarios, Grupos y Comunidades


Variables
----------------------------------------------------------------
*@
@{
CommunityModel Comunidad = Html.GetComunidad();
UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
string urlAdministracion = Html.GetPerfil().Url + Html.GetText("URLSEM", "ADMINISTRACION") + "/";

}

@*
----------------------------------------------------------------
-------------------- Vista índice para adminstrar organización: Usuarios, Grupos y Comunidades --------------------
*@

@{
    Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/administracion.css?v=" + Html.GetVersion());
    Html.SetBodyClass("layout02 comGnoss listado usuariosOrganizacion");    
}


<div class="row">
    @if (Comunidad.Key != ProyectoAD.MetaProyecto)
    {
        @*Breadcrumb / Migas de pan en la ficha del recurso*@
        <div class="col col-12 col-breadcrumb" id="breadcrumb">
            <ul>
                <li><a href="@Comunidad.Url"><strong>@Html.GetText("COMMON", "HOME")</strong></a></li>
                <li>Administrar Comunidad</li>
            </ul>
        </div>
    }
    else
    {
        @*Breadcrumb / Migas de pan en la ficha del recurso*@
        <div class="col col-12 col-breadcrumb" id="breadcrumb">
            <ul>
                @if (@Comunidad.Url != null)
                {
                    <li><a href="@Comunidad.Url"><strong>@Html.GetText("COMMON", "HOME")</strong></a></li>
                }
                else
                {
                    <li><strong>@Html.GetText("COMMON", "HOME")</strong></li>
                }
                <li>Administrar Comunidad</li>
            </ul>
        </div>
    }
</div>
    @* Contenedor de datos para filtrado *@
    <div id="contentUsuariosOrganizacion" class="row">
    @* Cargar cada una de las vistas necesearias para visualizarse en Index () *@
        @if (Model.PageType.Equals(AdministrarUsuariosOrganizacionViewModel.TipoPagina.Usuarios))
        {
            @Html.PartialView("_Usuarios", Model)
        }
        else if (Model.PageType.Equals(AdministrarUsuariosOrganizacionViewModel.TipoPagina.Comunidades))
        {
            @Html.PartialView("_Comunidades", Model)
        }
        else if (Model.PageType.Equals(AdministrarUsuariosOrganizacionViewModel.TipoPagina.Grupos))
        {
            @Html.PartialView("_Grupos", Model)
        }
    </div>