@*
Descripción
-----------------------------------------------

Vista modal que es utilizado preguntar al usuario si desea recibir o no newsletters. (Sí, No). Esta vista modal, al formar parte de la cabecera o header, se colocará ahí de forma estática siempre y cuando un usuario pueda solicitar el recibir o no newsletter de la comunidad en la que está actualmente.
Anteriormente, el funcionamiento se realizaba en otra página diferente y no en modal, concretamente en "Views - AdministrarNewsletters". 

Variables
----------------------------------------------------------------
*@
@{

// Valor que tendrá el input para enviar newsletters -> Se utilizará el control en JS
string chkRecibirNewsletterOption = "rbRecibirNewsletter";
// Valor que tendrá el input para NO enviar newsletters
string chkNoRecibirNewsletterOption = "rbNoRecibirNewsletter";
// Nombre que tendrá el input para las opciones para la gestion de newsletters
string chkRecibirNewsletterName = "chkRecibirNewsletter";
// Id del panel donde se mostrará posible errores o avisos de OK
string chkRecibirNewsletterNameInfoPanel = "chkRecibirNewsletterNameInfoPanel";
// Id del botón para realizar el envío de la petición
string btnSubmitReceiveNewsletters = "btnSubmitReceiveNewsletters";
// Estado actual de si el usuario está recibiendo (o no) newsletters de la comunidad
bool isReceivingNewsletter = Html.GetIdentidadActual().ReceiveNewsletter;

}
@*
----------------------------------------------------------------
-------------------- Vista Modal Recibir newsletters --------------------
*@

<div class="modal modal-top fade"
     tabindex="-1"
     role="dialog"
     id="modal-receive-newsletters">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @* Título del modal *@
            <div class="modal-header">
                <p class="modal-title">
                    <span class="material-icons">exit_to_app</span>@Html.GetText("COMMON", "NEWSLETTERSINGULAR")
                </p>
                <span class="material-icons cerrar"
                      data-dismiss="modal"
                      aria-label="Close">close</span>
            </div>
            @* Cuerpo del modal *@
            <div class="modal-body">
                <div class="formulario-edicion">
                    @* Mensaje para abandonar una comunidad *@
                    <div class="form-group">
                        <label class="control-label">
                            @Html.GetText("SUSCRIPCIONES", "DESEASRECIBIRNEWSLETTER")
                        </label>
                    </div>
                    @* Contenido del modal -> Radio para seleccionar sí o no de recibir newsletters *@
                    <div class="form-group">
                        <div class="themed primary custom-control custom-radio custom-control-inline">
                            <input type="radio"
                                   id="@chkRecibirNewsletterOption"
                                   name="@chkRecibirNewsletterName"
                                   class="custom-control-input"
                                   value="@chkRecibirNewsletterOption"                                   
                                   @(isReceivingNewsletter ? "checked=checked":"") />
                            <label class="custom-control-label" for="@chkRecibirNewsletterOption">@Html.GetText("COMMON", "SI")</label>
                        </div>
                        <div class="themed primary custom-control custom-radio custom-control-inline">
                            <input type="radio"
                                   id="@chkNoRecibirNewsletterOption"
                                   name="@chkRecibirNewsletterName"
                                   value="@chkNoRecibirNewsletterOption"
                                   class="custom-control-input"                                                              
                                   @(!isReceivingNewsletter ? "checked=checked":"") />
                            <label class="custom-control-label" for="@chkNoRecibirNewsletterOption">@Html.GetText("COMMON", "NO")</label>
                        </div>
                    </div>

                    @* Panel de error o mensaje de OK *@
                    <div id="@chkRecibirNewsletterNameInfoPanel" style="display: none;" class="alert alert-danger alert-success" role="alert">

                    </div>
                    
                    @* Botón de acción*@
                    <div class="form-actions">
                    <!--<input type="submit" value="@Html.GetText("COMMON", "SI")" onclick="MostrarUpdateProgress();" />-->
                        <input id="@btnSubmitReceiveNewsletters" type="submit" class="btn btn-primary" value="@Html.GetText("COMMON", "ACEPTAR")" />
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    // Parámetros para operativaSolicitarRecibirNewsletter
	(function ($) {
		const pParams = {
			nameChkReceiveNewsletter: "@chkRecibirNewsletterName",
			chkRecibirNewsletter: "@chkRecibirNewsletterOption",
			chkNoRecibirNewsletter: "@chkNoRecibirNewsletterOption",
			urlRequestReceiveNewsletters: "@Html.GetComunidad().Url/@Html.GetText("URLSEM", "RECIBIRNEWSLETTER")/save-changes",
			chkRecibirNewsletterNameInfoPanel: "@chkRecibirNewsletterNameInfoPanel",
			btnSubmitReceiveNewsletters: "@btnSubmitReceiveNewsletters",
		};
		// Gestión de operativa para cambio de contraseña
		operativaSolicitarRecibirNewsletter.init(pParams);
	 })();	
</script>