
@*
Descripción
-----------------------------------------------
Como su propio nombre indica, es el footer de la web. Contiene:
- Aviso legal
- Política de cookies
- Link a Gnoss.com

Variables
----------------------------------------------------------------
*@
@{
UserProfileModel Perfil = Html.GetPerfil();
CommunityModel Comunidad = Html.GetComunidad();
@* Controlar NombreEcosistema para mostrar o no enlaces *@
string NombreProyectoEcosistema = Html.GetNombreProyectoEcosistema();

bool isGnossEcosistema = NombreProyectoEcosistema.ToLower().Contains("gnoss") ? true : false;

// Construcción de las rutas del footer
string rutaPrivacidad = Comunidad.Url + "/" + Html.GetText("URLSEM", "PRIVACIDADENLACE");
string rutaCookies = Comunidad.Url + "/" + Html.GetText("URLSEM", "POLITICACOOKIES");
string rutaCondicionesUso = Comunidad.Url + "/" + Html.GetText("URLSEM", "CONDICIONESUSO");
String rutaAcercaDe = @Perfil.Url + @Html.GetText("URLSEM", "ACERCADE");
}

@*
----------------------------------------------------------------
-------------------- Pie / Footer --------------------
*@
 
<div class="container">
    <footer id="footer" class="row">
        <div class="col">
            <div class="wrapCol">
                <div class="logo">
                    <p>
                        @if (!string.IsNullOrEmpty(Comunidad.Copyright))
                        {
                            @Comunidad.Copyright<text> </text>@DateTime.Now.Year.ToString();
                        }
                        else
                        {                            
                            <text>© RIAM I+L Lab </text>@DateTime.Now.Year.ToString()<text> myGNOSS - @Html.GetText("COMMON","TODOSLOSDERECHOSRESERVADOS")</text>
                        }

                    </p>
                </div>
                @* Enlaces del footer *@
                <div class="enlaces">
                    <ul>
                        @* Aviso Legal
        @if (!string.IsNullOrEmpty(Comunidad.ExternalUrlCookieNotice))
        {
            <li>
                <a href="@Comunidad.ExternalUrlCookieNotice" target="_blank">Aviso Legal</a>
            </li>
        }else{
            <li>
                <a
                    style="cursor: pointer"
                    class="link"
                    onclick="DeployActionInModalPanel('@Comunidad.Url/@Html.GetText("URLSEM", "POLITICACOOKIES")/load-modal', this, 'modal-dinamic-content', '');"
                    data-toggle="modal"
                    data-target="#modal-container"
                >
                    @Html.GetText("FOOTER", "POLITICACOOKIES")
                </a>
            </li>

        }*@
                        @{ } 
                        @* Política de privacidad *@
                        <li>                                                                                                    
                            <a id="btnOpenPrivacyConditions"
                                href="@rutaPrivacidad"
                                style="cursor: pointer"
                                class="link"
                                onclick="DeployActionInModalPanel('@rutaPrivacidad/load-modal', this, 'modal-dinamic-content', '');"
                                data-toggle="modal"
                                data-target="#modal-container">
                                @Html.GetText("FOOTER", "PRIVACIDAD")
                            </a>                                
                        </li>                       

                        @* Política de Cookies*@
                        @if (Comunidad.CookieNotice)
                        {
                            <li>
                                @if (!string.IsNullOrEmpty(Comunidad.ExternalUrlCookieNotice))
                                {
                                    <a id="btnOpenCookiesPolicy"
                                       href="@rutaCookies"
                                       style="cursor: pointer"
                                       class="link"
                                       onclick="DeployActionInModalPanel('@rutaCookies/load-modal', this, 'modal-dinamic-content', '');"
                                       data-toggle="modal"
                                       data-target="#modal-container">
                                        @Html.GetText("FOOTER", "POLITICACOOKIES")
                                    </a>
                                }
                            </li>
                        }

                        @* Condiciones de uso *@
                        <li>
                            <a id="btnUsageConditions"
                               href="@rutaCondicionesUso"
                               style="cursor: pointer"
                               class="link"
                               onclick="DeployActionInModalPanel('@rutaCondicionesUso/load-modal', this, 'modal-dinamic-content', '');"
                               data-toggle="modal"
                               data-target="#modal-container">
                                @Html.GetText("FOOTER", "CONDICIONESDEUSO")
                            </a>
                        </li>
                        @* Acerca de *@
                        @if (Comunidad.IsCatalog && !Comunidad.Key.Equals(ProyectoAD.MetaProyecto))
                        {
                            <li>
                                <a href="@rutaAcercaDe">@Html.GetText("COMMON", "ACERCADE")</a>
                            </li>
                        }

                        @* Mostrar Powered by Gnoss si la MetaComunidad no es GNOSS *@
                        @if (!isGnossEcosistema)
                        {
                            <li>
                                <a href="https://www.gnoss.com/" alt="Powered by Gnoss" title="Powered by Gnoss">
                                    Powered by Gnoss
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                @* Idiomas disponibles *@                
                @Html.PartialView("../Shared/_pie/_partial-views/_select-language")
            </div>
        </div>
    </footer>
</div>

