@model PintarCategoriaCabecera

@{

    @* Comprobar si dispone de hijos la categoría actual *@
    bool tieneHijos = Model.editSuscriptionView.Categories.Count(cat => cat.ParentCategoryKey == Model.pCategoria.Key) > 0;

    @* Mostrar o pintar la categoría*@
    <div class="categoria-wrap">
        <div class="categoria @Model.pCategoria.Key">
            @{
                string accionClick = "MVCMarcarElementoSelCat(this, 'selectorCategoriasSusc', 'txtHackCatTesSel');";
                string cadenaChecked = "";
                string cadenaDisabled = "";

                if (Model.pCategoria.Selected)
                {
                    cadenaChecked = "checked=\"checked\"";
                }

            }
            @* Mostrar o pintar el input y el título de la categoría correspondiente*@
            <div class="custom-control custom-checkbox themed little primary">
                <input type="checkbox"
                       id="arb_@Model.pCategoria.Key"
                       onclick="@accionClick" @cadenaChecked @cadenaDisabled
                       data-item="@Model.pCategoria.Key"
                       class="custom-control-input" />
                <label class="custom-control-label"
                       for="arb_@Model.pCategoria.Key">@Model.pCategoria.Name</label>
                </div>
            </div>
            @if (tieneHijos)
            {
                @* Mostrar opción de desplegar si tiene hijos la categoría*@
                <div class="boton-desplegar">
                    <span class="material-icons">keyboard_arrow_down</span>
                </div>
                @* Mostrar o no el panel de los hijos (subcategorías) si esta categoría dispone de subcategorías*@
                <div class="panHijos">
                    @foreach (CategoryModel categoria in Model.editSuscriptionView.Categories.Where(cat => cat.ParentCategoryKey == Model.pCategoria.Key).OrderBy(cat => cat.Order))
                    {
                        PintarCategoriaCabecera pintar = new PintarCategoriaCabecera();
                        pintar.editSuscriptionView = Model.editSuscriptionView;
                        pintar.pCategoria = categoria;
                        @Html.PartialView("../Shared/_cabecera/_PintarCategoria", pintar)
                    }
                </div>
            }
        </div>

}