@using Es.Riam.Gnoss.Web.MVC.Models;
@model CMSComponentMail
@*
Descripción
-----------------------------------------------
Vista que muestra el componente Formulario o Envío de Correo.

Variables
----------------------------------------------------------------
*@
@{
    string funcionEnviarCorreo = "EnviarCorreo('" + Model.Key.ToString() + "')";
}
@*
----------------------------------------------------------------
-------------------- Vista CMS del componente de Formulario o Envío de correo --------------------*@


<div class="fieldset" id="@Model.Key.ToString()">
    <fieldset class="labels">
        <legend>@Model.Title</legend>
        <div class="fieldsetContent">
            @{
                foreach (CMSComponentMail.CMSFormFiled campoFormulario in Model.FormFields)
                {
                    string nombrecampo = campoFormulario.Name;
                    string idCampo = Model.Key.ToString() + "_" + campoFormulario.Order;
                    if (campoFormulario.Required)
                    {
                        nombrecampo += " *";
                    }

                    <div class="fila form-group">
                        <label for="@idCampo" class="control-label">@nombrecampo</label>                        
                        @switch (campoFormulario.FormFiledType)
                        {
                            case CMSComponentMail.CMSFormFiled.CMSFormFiledType.Short:                                
                                <input type="text" class="form-control text medium campoEnvioCorreo" id="@idCampo"/>
                                break;
                            case CMSComponentMail.CMSFormFiled.CMSFormFiledType.Long:                                
                                <textarea id="@idCampo" class="form-control campoEnvioCorreo" rows="3"></textarea>
                                break;
                        }
                    </div>
                }                
                @*Botón envío de formulario*@                 
                <button class="btn btn-primary" onclick="@funcionEnviarCorreo">@Model.TextButton</button>                
                <div id="@Model.Key.ToString()_mensaje"></div>
            }
        </div>
    </fieldset>
</div>



<script type="text/javascript">
    function EnviarCorreo(idComponente) {
        MostrarUpdateProgress();
        const args = {};
        args.ComponentKey = '@Model.Key';
        $('#' + idComponente + ' .campoEnvioCorreo').each(function () {
            args[$(this).attr("id")] = $(this).val();
        });

        const urlAction = '@Model.UrlSendForm';

        GnossPeticionAjax(
            urlAction,
            args,
            true
        ).done(function (response) {
            /* Mostrar mensaje informativo */
            mostrarNotificacion('success', response);            
        }).fail(function (response) {
            /* Mostrar mensaje informativo */
            mostrarNotificacion('error', response);
        }).always(function () {
            OcultarUpdateProgress();
        });
    }
</script>